#navbar,
#menucanvas,
#container header,
#container .main nav,
#container footer,
#contents form,
#contents form.form_step4 {
    display: none;
}
#container .main {
    margin-top: 0;
}
#container {
    background-color: #FFFFFF;
}
#contents div.answer_sheet {
    display: inline-block;
    /* width: 650px; */
    margin: 0 auto;
    margin-top: 0;
    margin-right: 0;
    float: none;
}