#navbar .link .a5,
#menucanvas .link .a5 {
    background-color: #FEECEB;
    color: #2D2D2D;
}

/* datatables styles */
#contents .dataTables_filter {
    display: none;
}
#contents .dataTables_length {
    float: left;
    color: #696969;
    margin: 10px 0;
    padding: 0 5px;
    padding-top: 5px;
    border-radius: 3px;
    label {
        display: inline-flex !important;
        select.form-select {
          margin: 0 3px;
          border: 1px solid rgba(66,139,202, 0.8);
          position: relative;
          top: -4px;
        }
    }
}
#contents .dt-buttons {
    float: right;
    margin: 10px 0;
}
#contents .dataTables_info {
    width: auto;
    float: left;
    color: #696969;
    margin-top: 15px;
    margin-bottom: 5px;
}
#contents table th input,
#contents table th select {
    border: 1px solid rgb(66,139,202,.6);
    padding-left: 3px;
    font-size: 13px;
    height: 30px;
    border-radius: 3px;
    width: 120px;
}
#date_filter_modal input {
    border: 1px solid rgb(66,139,202,.6);
}
#contents .searchdiv input:focus,
#contents .dataTables_length .form-select:focus,
#contents table th input:focus,
#contents table th select:focus,
#date_filter_modal input:focus {
    border-color: #428BCA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(66,139,202, 0.6);
    outline: none;
}
#contents .dataTables_paginate {
    width: auto;
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}
#contents .dataTables_paginate ul {
    border: 1px solid rgb(66,139,202,.6);
    border-radius: 5px;
    color: #696969;
}
#contents .dataTables_paginate ul li a:hover {
    background-color: rgb(66,139,202,.8);
    color: #fff;
}
#contents .dataTables_paginate ul li a:focus {
    box-shadow: none;
}


#contents .searchdiv input {
    border: 1px solid rgb(66,139,202,.4);
}
#contents table th,
#contents table td {
    padding: auto 5px;
    white-space: nowrap;
    text-align: center;
}


#contents form {
    width: 600px;
}
#contents form.form_step2 input[type='checkbox'] {
    width: 35px;
    height: 17.5px;
}
#contents form.form_step3 .form-check {
    position: absolute;
    left: 105px;
}
#contents form.form_step3 .dark {
    background-color: rgba(105, 105, 105, .1);
}
#contents form.form_step4 input[type='checkbox'] {
    width: 20px;
    height: 20px;
}
#contents form.form_step4 {
    width: 35%;
    display: inline-block;
}

/* answer sheet customization */
#contents div.answer_sheet {
    width: 650px;
    float: right;
    height: auto;
    height: 1032px;
    border: 1px solid #2D2D2D;
    color: #2D2D2D;
    padding: 10px;
    margin-top: 70px;
    margin-right: 100px;
    text-align: left;
    overflow: hidden;
}

/* answer sheet headers */
#sheet_view .sheeet_head {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-size: 0;
}
#sheet_view .sheeet_head .title,
#sheet_view .sheeet_head .id_boxes,
#sheet_view .sheeet_head .box {
    display: inline-block;
    float: left;
    width: calc(100% - 80px);
    font-size: 0;
}
#sheet_view .sheeet_head .title {
    font-size: 15px;
    width: 80px;
    position: relative;
    top: 8px;
    text-align: center;
}
#sheet_view .sheeet_head .id_boxes span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-left: none;
}
#sheet_view .sheeet_head .id_boxes span:first-child {
    border-left: 1px solid #000000;
}
#sheet_view .sheeet_head .box {
    height: 40px;
    border: 1px solid #000000;
}

/* answer sheet questions */
#answers_div .multichoice,
#answers_div .multilabel,
#answers_div .verbose {
    display: inline-block;
    width: auto;
    float: left;
    font-size: 0;
    margin: 5px;
    padding: 0;
    /* border: 1px solid red; */
}
#answers_div .multichoice span,
#answers_div .multilabel div .circle {
    display: inline-block;
    font-size: 15px;
    width: 42px;
    height: 42px;
    margin: 3px;
    border: 2px solid #000000;
    text-align: center;
    line-height: 39px;
    border-radius: 50%;
}
#answers_div .multichoice span:first-child,
#answers_div .multilabel div .circle:first-child {
    border: none;
    margin: 3px 0;
}
#answers_div .multilabel div .text {
    display: inline-block;
    font-size: 15px;
    width: auto;
    margin: 3px;
    padding-right: 4px;
}
#answers_div .multilabel div .circle {
    color: transparent;
}
#answers_div .multilabel div:first-child .circle:first-child {
    color: #2D2D2D;
}
#answers_div .verbose span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-left: none;
    color: transparent;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
}
#answers_div .verbose span:first-child {
    color: #2D2D2D;
    border: none;
}
#answers_div .verbose span:nth-child(2) {
    border-left: 1px solid #000000;
}
