{% extends 'master.html' %}
{% load static %}
{% block title %}
  Answer sheets | UDOM EMS
{% endblock %}
{% block styles %}
  <link href="{% static 'css/answer_sheets/sheets.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/answer_sheets/print_sheet.css' %}" rel="stylesheet" type="text/css" media="print" />
{% endblock %}
{% block contents %}
  {% if custom_form %}
    {% if step == 2 %}
      <input type="hidden" value="{{ sheet }}" id="custom_sheet_id" />
      <form class="form_step4 p-1 text-ttxt1" action="{% url 'save_sheet' %}" id="publish_sheet_form">
        <div class="d-block w-100 float-start text-start fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 2 of 2: Define Questions</div>
        <div class="d-block w-100 float-start text-start fs-6 py-1">
          <b>Answer sheet name:</b> {{ sheet_name }}
        </div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="d-block w-100 float-start table-responsive">
          <table class="table float-start my-1 table-striped text-center text-ttxt1 align-middle w-10" id="qns_table">
            <thead class="bg-bblight text-white">
              <tr>
                <th>#</th>
                <th>Type</th>
                <th>Labels</th>
                <th>Marks</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% if questions_list %}
                {% for qns in questions_list %}
                  {% for question in qns.range %}
                    {% if qns.type == 'multichoice' %}
                      <tr class="tr_{{ qns.id }}">
                        <td class="{{ qns.type }}"></td>
                        <td class="text-start">Multi-choices</td>
                        <td class="text-start">{{ qns.qns.qn_labels }}</td>
                        <td>{{ qns.marks }}</td>
                        <td>
                          <div class="form-check d-inline-block">
                            <input class="form-check-input" type="checkbox" />
                          </div>
                        </td>
                      </tr>
                    {% elif qns.type == 'verboseqns' %}
                      <tr class="tr_{{ qns.id }}">
                        <td class="{{ qns.type }}"></td>
                        <td class="text-start">Verbose questions</td>
                        <td class="text-start">Max chars: {{ qns.qns.chars }}</td>
                        <td>{{ qns.marks }}</td>
                        <td>
                          <div class="form-check d-inline-block">
                            <input class="form-check-input" type="checkbox" />
                          </div>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                <tr id="select_qns_tr">
                  <td colspan="5" class="text-end py-3">
                    <button type="button" id="remove_qns_btn" class="btn btn-bblight text-white"><i class="fas fa-trash"></i> Remove selected</button>
                  </td>
                </tr>
              {% else %}
                <tr class="no-qns">
                  <td colspan="5" class="py-5">No questions defined yet; Use below buttons to add questions.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="form-floating d-block w-100 float-start my-3 text-start">
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#multi_choice_modal">Add multiple-choice questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#verbose_questions_modal">Add verbose questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" onclick="print()">Print</button>
        </div>
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 1 sheet %}" id="cancel_publish_btn" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="button" id="publish_btn" class="btn btn-bblight text-white d-inline float-end" data-bs-toggle="modal" data-bs-target="#confirm_publish_modal">Publish <i class="fas fa-check-circle"></i></button>
        </div>
      </form>

      {% comment %}answer-sheet for preview{% endcomment %}
      <div class="answer_sheet">
        <div class="d-block w-100" id="sheet_view">
          <div class="sheeet_head">
            <div class="heading">
              <span>{{ heading|linebreaks }}</span>
            </div>
            <div class="regnumber">
              <div>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
              </div>
              <div>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
                <span>1</span>
              </div>
              <div>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
                <span>2</span>
              </div>
              <div>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
                <span>3</span>
              </div>
              <div>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
                <span>4</span>
              </div>
              <div>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
                <span>5</span>
              </div>
              <div>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
                <span>6</span>
              </div>
              <div>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
                <span>7</span>
              </div>
              <div>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
                <span>8</span>
              </div>
              <div>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
                <span>9</span>
              </div>
            </div>
          </div>
          <div id="answers_div"></div>
        </div>
      </div>

      {% comment %}modal to add multi-choice question{% endcomment %}
      <div class="modal fade" id="multi_choice_modal">
        <form class="modal-dialog" id="multi_choice_form" action="{% url 'save_sheet' %}" autocomplete="off">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add multi-choice questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-none w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="multi_type" required>
                  <option value="1">Internal label</option>
                  <option value="2">External label</option>
                </select>
                <label class="form-label text-ttxt1" for="multi_type">Select question type</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="multi_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="multi_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start mt-1">
                <input type="text" maxlength="10" minlength="2" class="form-control text-ttxt1" id="multi_labels" pattern="[A-Za-z]+" value="ABCDE" placeholder="d" required />
                <label for="multi_labels" class="form-label text-ttxt1">Answer labels</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <input type="number" min="0" max="100" step="0.01" class="form-control text-ttxt1" id="multichoices_marks" placeholder="p" required />
                <label class="form-label text-ttxt1" for="multichoices_marks">Enter marks per question</label>
              </div>
            </div>
            <input type="hidden" value="multichoice" id="qn_type_multichoice" />
            <div class="form-floating d-block w-100 float-start text-ttxt1 text-start px-3 mb-3">The letters to be used for labels for this question; entered with no spaces. For example, ABCDE or TF. Enter up to 10 letters.</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_multi_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_multi_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to add verbose questions{% endcomment %}
      <div class="modal fade" id="verbose_questions_modal">
        <form class="modal-dialog" id="verbose_questions_form" action="{% url 'save_sheet' %}">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add verbose-answers questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_chars" required>
                  {% for char in answer_len %}
                    <option value="{{ char }}">{{ char }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_chars">Select max length of answer</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <input type="number" min="0" max="100" step="0.01" class="form-control text-ttxt1" id="verbose_marks" placeholder="p" required />
                <label class="form-label text-ttxt1" for="verbose_marks">Enter marks per question</label>
              </div>
              <input type="hidden" value="verboseqns" id="qn_type_verboseqns" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_verbqns_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_verbqns_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to confirm publishing answer sheet{% endcomment %}
      <div class="modal fade" id="confirm_publish_modal">
        <div class="modal-dialog">
          <form class="modal-content" id="publish_confirm_form">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Confirm publish..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-4 px-2">
                You're about to publish <b>{{ sheet_name }}</b> answer sheet, Continue..?
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="publish_cancel_btn"><i class="fas fa-times-circle"></i> Cancel</button>
              <button type="submit" class="btn btn-bblight text-white" id="publish_confirm_btn">Publish <i class="fas fa-check-circle"></i></button>
            </div>
          </form>
        </div>
      </div>
    {% else %}
      <form class="form_step1 d-inline-block p-1" action="{% url 'save_sheet' %}" autocomplete="off" id="step_one_form">
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 1 of 2: Answer sheet names & heading</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="form-floating d-block w-100 float-start my-1">
          <input type="text" minlength="3" maxlength="64" class="form-control text-ttxt1" name="names" id="custom_name" value="{{ names }}" placeholder="p" required autofocus />
          <label for="custom_name" class="form-label text-ttxt1">Enter sheet name</label>
        </div>
        <div class="form-floating d-block w-100 float-start my-1">
          <textarea class="form-control text-ttxt1" name="heading" id="custom_heading" style="min-height:300px;" placeholder="p" required>{{ heading }}</textarea>
          <label for="custom_heading" class="form-label text-ttxt1">Answer sheet heanding</label>
        </div>
        <input type="hidden" name="step" value="2" />
        <input type="hidden" name="sheet" value="{{ sheet }}" />
        <div class="form-floating d-block w-100 float-start my-3 text-end">
          <a href="{% url 'custom_list' %}" id="cancel_publish_btn" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="submit" id="submit_sheetname_btn" class="btn btn-bblight text-white d-inline-block">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% endif %}
  {% else %}
    <div class="d-block w-100 float-start p-2 text-start">
      <div class="d-block w-100 float-start fs-5 text-ttxt1 p-2 my-1">Download answer sheets (pdf), available in multiple sizes and formats to cater or different needs..</div>
      <div class="d-block w-100 float-start">
        <a href="{% url 'download_sheet' 20 %}" class="btn btn-bblue d-inline-block m-2">20 Questions - PDF</a>
        <a href="{% url 'download_sheet' 50 %}" class="btn btn-bblue d-inline-block m-2">50 Questions - PDF</a>
        <a href="{% url 'custom_list' %}" class="btn btn-success d-inline-block m-2">Custom answer sheets</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/answer_sheets/sheets.js' %}"></script>
{% endblock %}
