{% extends 'master.html' %}
{% load static %}
{% block title %}
  Answer sheets | CIVE Grade
{% endblock %}
{% block styles %}
  <link href="{% static 'css/answer_sheets/sheets.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  {% if custom_form %}
    {% if step == 1 %}
      <form class="form_step1 d-inline-block mx-2 my-5 p-2" action="{% url 'save_sheet' %}" autocomplete="off" id="step_one_form">
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 1 of 5: Custom Answer Sheet Name</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="form-floating d-block w-100 float-start my-1">
          <input type="text" minlength="3" maxlength="64" class="form-control text-ttxt1" name="names" id="custom_name" value="{{ names }}" placeholder="p" required autofocus />
          <label for="custom_name" class="form-label text-ttxt1">Enter sheet name</label>
        </div>
        <input type="hidden" name="step" value="2" />
        <input type="hidden" name="sheet" value="{{ sheet }}" />
        <div class="form-floating d-block w-100 float-start my-3 text-end">
          <button type="submit" id="submit_sheetname_btn" class="btn btn-bblight text-white d-inline-block">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% elif step == 2 %}
      <form class="form_step2 d-inline-block mx-2 my-5 p-2" id="headerboxes_form" action="{% url 'save_sheet' %}" autocomplete="off">
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 2 of 5: Header boxes</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 py-1">
          <b>Sheet name:</b> Previous name
        </div>
        <table class="table float-start my-1 table-striped text-ttxt1 text-start align-middle">
          <thead class="bg-bblight text-white">
            <tr>
              <th>Usage</th>
              <th>Enabled</th>
              <th>Displayed label</th>
              <th>Width</th>
            </tr>
          </thead>
          <tbody>
            {% if header_boxes %}
              {% for hd in header_boxes %}
                <tr>
                  <td>{{ hd.header }}</td>
                  <td class="text-center">
                    <div class="form-check form-switch form-check-inline">
                      {% if hd.enabled %}
                        <input class="form-check-input" type="checkbox" checked />
                      {% else %}
                        <input class="form-check-input" type="checkbox" />
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    {% if hd.enabled %}
                      <input type="text" class="form-control text-ttxt1" value="{{ hd.label }}" placeholder="Enter label" required />
                    {% else %}
                      <input type="text" class="form-control text-ttxt1" value="{{ hd.label }}" placeholder="Enter label" required disabled />
                    {% endif %}
                  </td>
                  <td>
                    {% if hd.enabled %}
                      <select class="form-select d-inline-block w-auto text-ttxt1" required>
                        {% for s in sizes %}
                          {% if s.short == hd.size %}
                            <option value="{{ s.short }}" selected>{{ s.long }}</option>
                          {% else %}
                            <option value="{{ s.short }}">{{ s.long }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% else %}
                      <select class="form-select d-inline-block w-auto text-ttxt1" required disabled>
                        {% for s in sizes %}
                          {% if s.short == hd.size %}
                            <option value="{{ s.short }}" selected>{{ s.long }}</option>
                          {% else %}
                            <option value="{{ s.short }}">{{ s.long }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td>Name</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Name" placeholder="Enter label" required />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Exam</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Exam" placeholder="Enter label" required />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Class</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Class" placeholder="Enter label" required />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Item1</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" placeholder="Enter label" required disabled />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required disabled>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Item2</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" placeholder="Enter label" required disabled />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required disabled>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Item3</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" placeholder="Enter label" required disabled />
                </td>
                <td>
                  <select class="form-select d-inline-block w-auto text-ttxt1" required disabled>
                    <option value="s">Small</option>
                    <option value="m">Medium</option>
                    <option value="l">Large</option>
                  </select>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <input type="hidden" value="{{ sheet }}" id="sheet_input_id" />
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 1 sheet %}" id="back_btn_1" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="submit" id="forward_btn_2" class="btn btn-bblight text-white d-inline-block float-end">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% elif step == 3 %}
      <form class="form_step3 d-inline-block mx-2 my-5 p-2 text-ttxt1 shadow-sm rounded" id="keys_and_students" action="{% url 'save_sheet' %}" autocomplete="off">
        <div class="d-block w-100 float-start text-start fs-6 border-bottom border-ttxt1 py-1 mb-1">Step 3 of 5: Key Version and Student ID</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="d-block w-100 float-start text-start fs-6 py-1 mb-3">
          <b>Sheet name:</b> Previous name
        </div>
        {% if id_section %}
          <div class="d-block w-100 float-start">
            <div class="d-block w-100 float-start text-start position-relative fs-6 p-1">
              Include ID section:<div class="form-check form-switch form-check-inline">
                <div class="form-check form-switch">
                  {% if id_section.id_status %}
                    <input class="form-check-input" type="checkbox" id="id_check" checked />
                  {% else %}
                    <input class="form-check-input" type="checkbox" id="id_check" />
                  {% endif %}
                </div>
              </div>
            </div>
            {% if id_section.id_status %}
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
                Number of student ID digits: &nbsp;<select class="form-select d-inline-block w-auto" id="id_select">
                  {% for num in v_labels %}
                    {% if id_section.id_digits == num %}
                      <option value="{{ num }}" selected>{{ num }}</option>
                    {% else %}
                      <option value="{{ num }}">{{ num }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
                Label for Student ID Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" id="id_label" value="{{ id_section.id_labels }}" required />
              </div>
            {% else %}
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
                Number of student ID digits: &nbsp;<select class="form-select d-inline-block w-auto" id="id_select" disabled>
                  {% for num in v_labels %}
                    {% if id_section.id_digits == num %}
                      <option value="{{ num }}" selected>{{ num }}</option>
                    {% else %}
                      <option value="{{ num }}">{{ num }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
                Label for Student ID Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" id="id_label" value="{{ id_section.id_labels }}" required disabled />
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="d-block w-100 float-start">
            <div class="d-block w-100 float-start text-start position-relative fs-6 p-1">
              Include ID section:<div class="form-check form-switch form-check-inline">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="id_check" checked />
                </div>
              </div>
            </div>
            <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
              Number of student ID digits: &nbsp;<select class="form-select d-inline-block w-auto" id="id_select">
                {% for num in v_labels %}
                  {% if num == 5 %}
                    <option value="{{ num }}" selected>{{ num }}</option>
                  {% else %}
                    <option value="{{ num }}">{{ num }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
              Label for Student ID Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" id="id_label" value="Student ID" required />
            </div>
          </div>
        {% endif %}
        {% if keys_section %}
          <div class="d-block w-100 float-start mt-5">
            <div class="d-block w-100 float-start text-start position-relative fs-6 p-1">
              Include Key Version Section:<div class="form-check form-switch form-check-inline">
                <div class="form-check form-switch">
                  {% if keys_section.key_status %}
                    <input class="form-check-input" type="checkbox" id="keys_check" checked />
                  {% else %}
                    <input class="form-check-input" type="checkbox" id="keys_check" />
                  {% endif %}
                </div>
              </div>
            </div>
            {% if keys_section.key_status %}
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
                Letters for key versions: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="2" value="{{ keys_section.key_letters }}" id="keys_letters" required />
              </div>
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
                Label for Key Version Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" value="{{ keys_section.key_labels }}" id="keys_label" required />
              </div>
            {% else %}
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
                Letters for key versions: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="2" value="{{ keys_section.key_letters }}" id="keys_letters" required disabled />
              </div>
              <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
                Label for Key Version Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" value="{{ keys_section.key_labels }}" id="keys_label" required disabled />
              </div>
            {% endif %}
          </div>
        {% else %}
          <div class="d-block w-100 float-start mt-5">
            <div class="d-block w-100 float-start text-start position-relative fs-6 p-1">
              Include Key Version Section:<div class="form-check form-switch form-check-inline">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="keys_check" checked />
                </div>
              </div>
            </div>
            <div class="dark d-block w-100 float-start text-start fs-6 p-2 pt-4">
              Letters for key versions: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="2" value="ABCDE" id="keys_letters" required />
            </div>
            <div class="dark d-block w-100 float-start text-start fs-6 p-2 pb-4">
              Label for Key Version Section: &nbsp;<input type="text" class="form-control d-inline-block w-auto" minlength="3" value="Keys" id="keys_label" required />
            </div>
          </div>
        {% endif %}
        <input type="hidden" value="{{ sheet }}" id="sheet_input_id" />
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 2 sheet %}" id="back_btn_2" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="submit" id="forward_btn_3" class="btn btn-bblight text-white d-inline-block float-end">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% elif step == 4 %}
      <input type="hidden" value="{{ sheet }}" id="custom_sheet_id" />
      <form class="form_step4 d-inline-block mx-1 my-5 p-2 text-ttxt1" action="{% url 'save_sheet' %}" id="publish_sheet_form">
        <div class="d-block w-100 float-start text-start fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 4 of 5: Define Questions</div>
        <div class="d-block w-100 float-start text-start fs-6 py-1">
          <b>Sheet name:</b> Previous name
        </div>
        <table class="table float-start my-1 table-striped text-center text-ttxt1 align-middle" id="qns_table">
          <thead class="bg-bblight text-white">
            <tr>
              <th>Number</th>
              <th>Type</th>
              <th>Labels</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if questions_list %}
              {% for qns in questions_list %}
                {% for question in qns.range %}
                  {% if qns.type == 'multichoice' %}
                    <tr>
                      <td>count</td>
                      {% if qns.qns.qn_type == 1 %}
                        <td class="text-start">Internal labels</td>
                      {% else %}
                        <td class="text-start">External labels</td>
                      {% endif %}
                      <td class="text-start">{{ qns.qns.qn_labels }}</td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% elif qns.type == 'verboselabel' %}
                    <tr>
                      <td>count</td>
                      <td class="text-start">Verbose labels</td>
                      <td class="text-start">
                        <ul>
                          {% for vb in qns.qns %}
                            <li>{{ vb.short }}: {{ vb.long }}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% elif qns.type == 'verboseqns' %}
                    <tr>
                      <td>count</td>
                      <td class="text-start">Verbose questions</td>
                      <td class="text-start">Max chars: {{ qns.qns.chars }}</td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              <tr id="select_qns_tr">
                <td colspan="5" class="text-end py-3">
                  <button type="button" id="remove_qns_btn" class="btn btn-bblight text-white"><i class="fas fa-trash"></i> Remove selected</button>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="5" class="py-5">No questions defined yet; Use below buttons to add questions.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <div class="form-floating d-block w-100 float-start my-3 text-start">
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#multi_choice_modal">Add multiple-choice questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#verbose_label_modal">Add verbose label questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#verbose_questions_modal">Add verbose questions</button>
        </div>
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 3 sheet %}" id="cancel_publish_btn" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="submit" id="publish_btn" class="btn btn-bblight text-white d-inline float-end">Publish <i class="fas fa-check-circle"></i></button>
        </div>
      </form>

      {% comment %}answer-sheet table for preview{% endcomment %}
      <table class="table mx-1 my-5 text-ttxt table-borderless answerstable">
        <tbody></tbody>
      </table>

      {% comment %}modal to add multi-choice question{% endcomment %}
      <div class="modal fade" id="multi_choice_modal">
        <form class="modal-dialog" id="multi_choice_form" action="{% url 'save_sheet' %}" autocomplete="off">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add multi-choice questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="multi_type" required>
                  <option value="1">Internal label</option>
                  <option value="2">External label</option>
                </select>
                <label class="form-label text-ttxt1" for="multi_type">Select question type</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="multi_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="multi_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start mt-1">
                <input type="text" maxlength="10" minlength="2" class="form-control text-ttxt1" id="multi_labels" value="ABCDE" placeholder="d" required />
                <label for="multi_labels" class="form-label text-ttxt1">Answer labels</label>
              </div>
            </div>
            <input type="hidden" value="multichoice" id="qn_type_multichoice" />
            <div class="form-floating d-block w-100 float-start text-ttxt1 text-start px-3 mb-3">The letters to be used for labels for this question; entered with no spaces. For example, ABCDE or TF. Enter up to 10 letters.</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_multi_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_multi_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to add verbose label questions{% endcomment %}
      <div class="modal fade" id="verbose_label_modal">
        <form class="modal-dialog" id="verbose_label_form" action="{% url 'save_sheet' %}" autocomplete="on">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add verbose-label questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="v_label_num_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="v_label_num_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="v_show_labels" required>
                  <option value="1">Show short label</option>
                  <option value="0">Hide short label</option>
                </select>
                <label class="form-label text-ttxt1" for="v_show_labels">Display short labels on answer sheet</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <table class="table w-100 float-start table-striped text-ttxt1 table_labels">
                  <thead class="bg-bblight text-white">
                    <tr>
                      <th class="text-start">Short label</th>
                      <th class="text-start">Verbose label</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lb in v_labels %}
                      <tr>
                        <td style="width:30px;">
                          <input type="text" maxlength="1" class="l_short form-control text-ttxt1" />
                        </td>
                        <td>
                          <input type="text" class="l_long form-control text-ttxt1" />
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <input type="hidden" value="verboselabel" id="qn_type_verboselabel" />
              <div class="form-floating d-block w-100 float-start text-ttxt1 text-start px-3 mb-3">Enter up to 10 verbose answers. Each answer must have a unique short label of one character for display within the app and a verbose label.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_vlabel_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_vlabel_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to add verbose questions{% endcomment %}
      <div class="modal fade" id="verbose_questions_modal">
        <form class="modal-dialog" id="verbose_questions_form" action="{% url 'save_sheet' %}">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add verbose-answers questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_chars" required>
                  {% for char in answer_len %}
                    <option value="{{ char }}">{{ char }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_chars">Select max length of answer</label>
              </div>
              <input type="hidden" value="verboseqns" id="qn_type_verboseqns" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_verbqns_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_verbqns_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>
    {% endif %}
  {% else %}
    <div class="d-block w-100 float-start p-2 text-start">
      <div class="d-block w-100 float-start fs-5 text-ttxt1 p-2 my-1">Download answer sheets (pdf), available in multiple sizes and formats to cater or different needs..</div>
      <div class="d-block w-100 float-start">
        <a href="{% url 'download_sheet' 20 %}" class="btn btn-bblue d-inline-block m-2">20 Questions - PDF</a>
        <a href="{% url 'download_sheet' 50 %}" class="btn btn-bblue d-inline-block m-2">50 Questions - PDF</a>
        <a href="{% url 'custom_list' %}" class="btn btn-success d-inline-block m-2">Custom answer sheets</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/answer_sheets/sheets.js' %}"></script>
{% endblock %}
