{% extends 'master.html' %}
{% load static %}
{% block title %}
  Answer sheets | UDOM EMS
{% endblock %}
{% block styles %}
  <link href="{% static 'css/answer_sheets/sheets.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/answer_sheets/print_sheet.css' %}" rel="stylesheet" type="text/css" media="print" />
{% endblock %}
{% block contents %}
  {% if custom_form %}
    {% if step == 1 %}
      <form class="form_step1 d-inline-block mx-2 my-5 p-2" action="{% url 'save_sheet' %}" autocomplete="off" id="step_one_form">
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 1 of 3: Answer sheet names</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="form-floating d-block w-100 float-start my-1">
          <input type="text" minlength="3" maxlength="64" class="form-control text-ttxt1" name="names" id="custom_name" value="{{ names }}" placeholder="p" required autofocus />
          <label for="custom_name" class="form-label text-ttxt1">Enter sheet name</label>
        </div>
        <input type="hidden" name="step" value="2" />
        <input type="hidden" name="sheet" value="{{ sheet }}" />
        <div class="form-floating d-block w-100 float-start my-3 text-end">
          <button type="submit" id="submit_sheetname_btn" class="btn btn-bblight text-white d-inline-block">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% elif step == 2 %}
      <form class="form_step2 d-inline-block mx-2 my-5 p-2" id="headerboxes_form" action="{% url 'save_sheet' %}" autocomplete="off">
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 2 of 3: Header fields</div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <div class="d-block w-100 float-start text-start text-ttxt1 fs-6 py-1">
          <b>Answer sheet name:</b> {{ sheet_name }}
        </div>
        <table class="table float-start my-1 table-striped text-ttxt1 text-start align-middle">
          <thead class="bg-bblight text-white">
            <tr>
              <th>Usage</th>
              <th>Enabled</th>
              <th>Displayed label</th>
            </tr>
          </thead>
          <tbody>
            {% if header_boxes %}
              {% for hd in header_boxes %}
                <tr>
                  <td>{{ hd.header }}</td>
                  <td class="text-center">
                    <div class="form-check form-switch form-check-inline">
                      {% if hd.enabled %}
                        <input class="form-check-input" type="checkbox" checked />
                      {% else %}
                        <input class="form-check-input" type="checkbox" />
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    {% if hd.enabled %}
                      <input type="text" class="form-control text-ttxt1" value="{{ hd.label }}" placeholder="Enter label" readonly />
                    {% else %}
                      <input type="text" class="form-control text-ttxt1" value="{{ hd.label }}" placeholder="Enter label" readonly disabled />
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td>Reg#</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Student ID" placeholder="Enter label" readonly />
                </td>
              </tr>
              <tr>
                <td>Name</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Name" placeholder="Enter label" readonly />
                </td>
              </tr>
              <tr>
                <td>Exam</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Exam" placeholder="Enter label" readonly />
                </td>
              </tr>
              <tr>
                <td>Class</td>
                <td class="text-center">
                  <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control text-ttxt1" value="Class" placeholder="Enter label" readonly />
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <input type="hidden" value="{{ sheet }}" id="sheet_input_id" />
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 1 sheet %}" id="back_btn_1" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="submit" id="forward_btn_2" class="btn btn-bblight text-white d-inline-block float-end">Next <i class="fas fa-long-arrow-right"></i></button>
        </div>
      </form>
    {% elif step == 3 %}
      <input type="hidden" value="{{ sheet }}" id="custom_sheet_id" />
      <form class="form_step4 mx-1 my-5 p-2 text-ttxt1" action="{% url 'save_sheet' %}" id="publish_sheet_form">
        <div class="d-block w-100 float-start text-start fs-6 border-bottom border-ttxt1 py-1 mb-3">Step 3 of 3: Define Questions</div>
        <div class="d-block w-100 float-start text-start fs-6 py-1">
          <b>Answer sheet name:</b> {{ sheet_name }}
        </div>
        <div class="formsms w-100 float-start text-start my-1"></div>
        <table class="table float-start my-1 table-striped text-center text-ttxt1 align-middle" id="qns_table">
          <thead class="bg-bblight text-white">
            <tr>
              <th>Number</th>
              <th>Type</th>
              <th>Labels</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if questions_list %}
              {% for qns in questions_list %}
                {% for question in qns.range %}
                  {% if qns.type == 'multichoice' %}
                    <tr class="tr_{{ qns.id }}">
                      <td class="{{ qns.type }}"></td>
                      <td class="text-start">Multi-choices</td>
                      <td class="text-start">{{ qns.qns.qn_labels }}</td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% elif qns.type == 'verboselabel' %}
                    <tr class="tr_{{ qns.id }}">
                      <td class="{{ qns.type }}"></td>
                      <td class="text-start">Verbose labels</td>
                      <td class="text-start">
                        <ul>
                          {% for vb in qns.qns %}
                            <li>{{ vb.short }}: {{ vb.long }}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% elif qns.type == 'verboseqns' %}
                    <tr class="tr_{{ qns.id }}">
                      <td class="{{ qns.type }}"></td>
                      <td class="text-start">Verbose questions</td>
                      <td class="text-start">Max chars: {{ qns.qns.chars }}</td>
                      <td>
                        <div class="form-check d-inline-block">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              <tr id="select_qns_tr">
                <td colspan="5" class="text-end py-3">
                  <button type="button" id="remove_qns_btn" class="btn btn-bblight text-white"><i class="fas fa-trash"></i> Remove selected</button>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="5" class="py-5">No questions defined yet; Use below buttons to add questions.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
        <div class="form-floating d-block w-100 float-start my-3 text-start">
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#multi_choice_modal">Add multiple-choice questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#verbose_label_modal">Add verbose label questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" data-bs-toggle="modal" data-bs-target="#verbose_questions_modal">Add verbose questions</button>
          <button type="button" class="btn btn-bblue d-inline-block m-1" onclick="print()">Print</button>
        </div>
        <div class="form-floating d-block w-100 float-start my-3">
          <a href="{% url 'create_custom_sheet' 3 sheet %}" id="cancel_publish_btn" class="btn btn-bblight text-white d-inline-block float-start"><i class="fas fa-long-arrow-left"></i> Back</a>
          <button type="button" id="publish_btn" class="btn btn-bblight text-white d-inline float-end" data-bs-toggle="modal" data-bs-target="#confirm_publish_modal">Publish <i class="fas fa-check-circle"></i></button>
        </div>
      </form>

      {% comment %}answer-sheet for preview{% endcomment %}
      <div class="answer_sheet">
        <input type="hidden" id="header_boxes_input" value="{{ header_boxes }}" />
        <input type="hidden" id="id_section_input" value="{{ id_section }}" />
        <input type="hidden" id="keys_section_input" value="{{ keys_section }}" />
        <div class="d-block w-100" id="sheet_view">
          <div class="w-100 d-block float-start mt-3" id="answers_div">
            {% comment %} <div class="multichoice">
              <span>1</span>
              <span>A</span>
              <span>B</span>
              <span>C</span>
              <span>D</span>
              <span>E</span>
            </div>
            <div class="multilabel">
              <div>
                <span class="circle">2</span>
                <span class="circle">.</span>
                <span class="text">A: Computer</span>
              </div>
              <div>
                <span class="circle">.</span>
                <span class="circle">.</span>
                <span class="text">B: Laptop</span>
              </div>
              <div>
                <span class="circle">.</span>
                <span class="circle">.</span>
                <span class="text">C: Desktop</span>
              </div>
            </div>
            <div class="verbose">
              <span>3</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
              <span>.</span>
            </div> {% endcomment %}
          </div>
        </div>
      </div>

      {% comment %}modal to add multi-choice question{% endcomment %}
      <div class="modal fade" id="multi_choice_modal">
        <form class="modal-dialog" id="multi_choice_form" action="{% url 'save_sheet' %}" autocomplete="off">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add multi-choice questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1 d-none">
                <select class="form-select text-ttxt1" id="multi_type" required>
                  <option value="1">Internal label</option>
                  <option value="2">External label</option>
                </select>
                <label class="form-label text-ttxt1" for="multi_type">Select question type</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="multi_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="multi_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start mt-1">
                <input type="text" maxlength="10" minlength="2" class="form-control text-ttxt1" id="multi_labels" pattern="[A-Za-z]+" value="ABCDE" placeholder="d" required />
                <label for="multi_labels" class="form-label text-ttxt1">Answer labels</label>
              </div>
            </div>
            <input type="hidden" value="multichoice" id="qn_type_multichoice" />
            <div class="form-floating d-block w-100 float-start text-ttxt1 text-start px-3 mb-3">The letters to be used for labels for this question; entered with no spaces. For example, ABCDE or TF. Enter up to 10 letters.</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_multi_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_multi_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to add verbose label questions{% endcomment %}
      <div class="modal fade" id="verbose_label_modal">
        <form class="modal-dialog" id="verbose_label_form" action="{% url 'save_sheet' %}" autocomplete="on">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add verbose-label questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="v_label_num_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="v_label_num_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1 d-none">
                <select class="form-select text-ttxt1" id="v_show_labels" required>
                  <option value="1">Show short label</option>
                  <option value="0">Hide short label</option>
                </select>
                <label class="form-label text-ttxt1" for="v_show_labels">Display short labels on answer sheet</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <table class="table w-100 float-start table-striped text-ttxt1 table_labels">
                  <thead class="bg-bblight text-white">
                    <tr>
                      <th class="text-start">Short label</th>
                      <th class="text-start">Verbose label</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lb in v_labels %}
                      <tr>
                        <td style="width:30px;">
                          <input type="text" maxlength="1" minlength="1" pattern="[A-Za-z]+" class="l_short form-control text-ttxt1" />
                        </td>
                        <td>
                          <input type="text" minlength="3" class="l_long form-control text-ttxt1" />
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <input type="hidden" value="verboselabel" id="qn_type_verboselabel" />
              <div class="form-floating d-block w-100 float-start text-ttxt1 text-start px-3 mb-3">Enter up to 10 verbose answers. Each answer must have a unique short label of one character for display within the app and a verbose label.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_vlabel_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_vlabel_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to add verbose questions{% endcomment %}
      <div class="modal fade" id="verbose_questions_modal">
        <form class="modal-dialog" id="verbose_questions_form" action="{% url 'save_sheet' %}">
          <div class="modal-content">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Add verbose-answers questions..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_questions" required>
                  {% for qn in questions %}
                    <option value="{{ qn }}">{{ qn }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_questions">Select number of questions</label>
              </div>
              <div class="form-floating d-block w-100 float-start my-1">
                <select class="form-select text-ttxt1" id="verb_num_chars" required>
                  {% for char in answer_len %}
                    <option value="{{ char }}">{{ char }}</option>
                  {% endfor %}
                </select>
                <label class="form-label text-ttxt1" for="verb_num_chars">Select max length of answer</label>
              </div>
              <input type="hidden" value="verboseqns" id="qn_type_verboseqns" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="cancel_verbqns_btn">Close</button>
              <button type="submit" class="btn btn-bblight text-white" id="submit_verbqns_btn">Add questions</button>
            </div>
          </div>
        </form>
      </div>

      {% comment %}modal to confirm publishing answer sheet{% endcomment %}
      <div class="modal fade" id="confirm_publish_modal">
        <div class="modal-dialog">
          <form class="modal-content" id="publish_confirm_form">
            <div class="modal-header bg-bblight">
              <h5 class="modal-title text-white">Confirm publish..</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="formsms w-100 float-start text-start my-1"></div>
              <div class="form-floating d-block w-100 float-start my-4 px-2">
                You're about to publish <b>{{ sheet_name }}</b> answer sheet;<br />you won't be able to do any further modifications.<br />Are you sure to continue..?
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ttxt1 text-white" data-bs-dismiss="modal" id="publish_cancel_btn"><i class="fas fa-times-circle"></i> Cancel</button>
              <button type="submit" class="btn btn-bblight text-white" id="publish_confirm_btn">Publish <i class="fas fa-check-circle"></i></button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="d-block w-100 float-start p-2 text-start">
      <div class="d-block w-100 float-start fs-5 text-ttxt1 p-2 my-1">Download answer sheets (pdf), available in multiple sizes and formats to cater or different needs..</div>
      <div class="d-block w-100 float-start">
        <a href="{% url 'download_sheet' 20 %}" class="btn btn-bblue d-inline-block m-2">20 Questions - PDF</a>
        <a href="{% url 'download_sheet' 50 %}" class="btn btn-bblue d-inline-block m-2">50 Questions - PDF</a>
        <a href="{% url 'custom_list' %}" class="btn btn-success d-inline-block m-2">Custom answer sheets</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/answer_sheets/sheets.js' %}"></script>
{% endblock %}
