{% extends 'master.html' %}
{% load static %}
{% block title %}
  Home | UDOM EMS
{% endblock %}
{% block styles %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
  <div class="imgbox w-100">
    <img src="{% static 'imgs/udom_logo.png' %}" alt="udom logo" />
  </div>
  <div class="welcome w-100 text-start text-ttxt1">Welcome back, {{ request.user.fullname }}</div>
  <div class="watch w-100 text-start text-ttxt1" id="clock"></div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
